<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>Data Analyzer</title>
  </head>
  <body>
    <div class="main">
      <div class="header">
        <h1>Data Analyzer</h1>
      </div>
      <!-- <form action=" {% url '' %} " method="post"> -->
      <form action="{{ url_for('') }}" method="post">
      {% csrf_token %}  
        <input class='btn' type="submit" value="total">
        <input class='btn' type="submit" value="mean">
        <input class='btn' type="submit" value="median">
        <input class='btn' type="submit" value="p25">
        <input class='btn' type="submit" value="p75">
      </form>

      <div class="result-box">{{ result }}</div>
    </div>
  </body>
</html>
